@charset "UTF-8";
.inicial {
    opacity: 1;
    left: 23%;
    top: -93px;
}

.present {
    opacity: 1.0;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes crossscreen {
    from {
        -webkit-transform: translate3d(105%, 0, 0) skewX(0deg);
        transform: translate3d(105%, 0, 0) skewX(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    96% {
        opacity: 0;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0) skewX(0deg);
        transform: translate3d(0, 0, 0) skewX(0deg);
        opacity: 0;
    }
}

@keyframes crossscreen {
    from {
        -webkit-transform: translate3d(105%, 0, 0) skewX(0deg);
        transform: translate3d(105%, 0, 0) skewX(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    91% {
        opacity: 1;
    }
    92% {
         opacity: 0;
     }

    to {
        -webkit-transform: translate3d(0, 0, 0) skewX(0deg);
        transform: translate3d(0, 0, 0) skewX(0deg);
        opacity: 0;
    }
}

.crossscreen {
    -webkit-animation-name: crossscreen;
    animation-name: crossscreen;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes crossscreen1 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate3d(25%,  0, 0) ;
        transform: translate3d(25%, 0, 0)  ;
    }
    to {
        -webkit-transform: translate3d(34%, -100px, 0) ;
        transform: translate3d(34%, -100px, 0)  ;
        opacity: 1;
    }
}

@keyframes crossscreen1 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate3d(25%,  0, 0) ;
        transform: translate3d(25%, 0, 0)  ;
    }
    to {
        -webkit-transform: translate3d(30%, -100px, 0) ;
        transform: translate3d(30%, -100px, 0)  ;
        opacity: 1;
    }
}

.crossscreen1 {
    -webkit-animation-name: crossscreen1;
    animation-name: crossscreen1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes crossscreen2 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    50% {
        -webkit-transform: translate3d(45%,  0, 0) ;
        transform: translate3d(45%, 0, 0)  ;
    }
    70% {
        -webkit-transform: translate3d(50%, -100px, 0) ;
        transform: translate3d(50%, -100px, 0)  ;
    }
    to {
        -webkit-transform: translate3d(47%, -100px, 0) ;
        transform: translate3d(47%, -100px, 0)  ;
        opacity: 1;
    }
}

@keyframes crossscreen2 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    50% {
        -webkit-transform: translate3d(45%,  0, 0) ;
        transform: translate3d(45%, 0, 0)  ;
    }
    70% {
        -webkit-transform: translate3d(47%, -100px, 0) ;
        transform: translate3d(47%, -100px, 0)  ;
    }
    to {
        -webkit-transform: translate3d(47%, -100px, 0) ;
        transform: translate3d(47%, -100px, 0)  ;
    }
}

.crossscreen2 {
    -webkit-animation-name: crossscreen2;
    animation-name: crossscreen2;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}


@-webkit-keyframes crossscreen3 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translate3d(80%,  0, 0) ;
        transform: translate3d(80%, 0, 0)  ;
    }
    70% {
        -webkit-transform: translate3d(64%, -100px, 0) ;
        transform: translate3d(64%, -100px, 0)  ;
        opacity: 1;
    }
    to {
        -webkit-transform: translate3d(64%, -100px, 0) ;
        transform: translate3d(64%, -100px, 0)  ;
        opacity: 1;
    }
}

@keyframes crossscreen3 {
    from {
        -webkit-transform: translate3d(105%, 0, 0)  ;
        transform: translate3d(105%, 0, 0) ;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translate3d(80%,  0, 0) ;
        transform: translate3d(80%, 0, 0)  ;
    }
    70% {
        -webkit-transform: translate3d(64%, -100px, 0) ;
        transform: translate3d(64%, -100px, 0)  ;
        opacity: 1;
    }
    to {
        -webkit-transform: translate3d(64%, -100px, 0) ;
        transform: translate3d(64%, -100px, 0)  ;
        opacity: 1;
    }
}

.crossscreen3 {
    -webkit-animation-name: crossscreen3;
    animation-name: crossscreen3;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

