@font-face {
    font-family: 'snoopyregular';
    src: url('../../fonts/snoopy_reg-webfont.eot');
    src: url('../../fonts/snoopy_reg-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/snoopy_reg-webfont.woff') format("woff"), url('../../fonts/snoopy_reg-webfont.ttf') format("truetype"), url('../../fonts/snoopy_reg-webfont.svg#snoopyregular') format("svg");
    font-weight: normal;
    font-style: normal
}

.error-page {
    font-family: snoopyregular, Arial, sans-serif
}

body {
    font-family: 'snoopyregular';
    color: #fff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.contenedorGelatina span {
    display: inline-block;
    width: 100%;
    position: absolute;
}

.contenedorGelatina {
    bottom: 22%;
    position: absolute;
    padding: 0;
}

a, a:hover, a:visited {
    color: #ffffff;
}

a:hover, a:visited {
    font-weight: bold;
}

.roboto-light {
    font-family: 'snoopyregular';
}

.roboto-bold {
    font-family: 'snoopyregular';
}

.titulares {
    font-family: 'snoopyregular';
    font-size: 23px;
    line-height: 24px;

}

.fondo-home,
.fondo-home2,
.fondo-instrucciones,
.fondo-ingresocodigo,
.fondo-galeria,
.fondo-registro,
.fondo-registro2,
.pestaneo1,
.pestaneo2,
.pestaneo3 {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;

}

.botones {
    width: 115px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.btn-instrucciones {background-image: url("../../imagenes/royal_ruleta/snoopy-juego/botonayuda-on.png");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 5px;
    cursor: pointer;

}
.btn-audioOn {background-image: url("../../imagenes/royal_ruleta/snoopy-juego/botonmusicaon.png");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 5px;
cursor: pointer;

}
.btn-audioOff {background-image: url("../../imagenes/royal_ruleta/snoopy-juego/botonmusicaoff.png");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-right: 5px;
cursor: pointer;

}
.btn-compartir {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/botoncompartir-on.png");
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    cursor: pointer;
}

.fondo-movil {

}


.fondo-home2 {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/background2.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.pestaneo1 {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/pestaneo1.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
}
.pestaneo2 {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/pestaneo2.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;

}
.pestaneo3 {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/pestaneo3.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: none;

}

.fondo-registro2 {
    padding-top: 0px;
/*    padding-top: 130px;*/
}

.fondo-registro {
    padding-top: 0;
}

.titulo {
    font-size: 22px;
}

.snoopy-juego {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/snopy-frente.png");
    width: 294px;
    height: 337px;
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 10;
}

.cabecerahome {
    height: 40%;
}

.mensajeSeleccion1, .mensajeSeleccion2, .mensajeSeleccion3 {
    color: #000000;
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/nube.png");
    width: 249px;
    height: 181px;
    position: absolute;
    top: 47%;
    z-index: 10;
}

.mensajeSeleccion1 {
    left: 16%;
}

.mensajeSeleccion2 {
    left: 34%;
}

.mensajeSeleccion3 {
    left: 50%;
}

.mensaje .titulo {
    position: absolute;
    top: 35px;
    /*left: 32px;*/
    padding: 0 20px;
    z-index: 11;
    line-height: 27px;
    text-align: center;
}


.boton-juego, .boton-juego-click {
    position: absolute;
    bottom: 20%;
    right: 50px;
    cursor: pointer;
    z-index: 10;
}

.boton-juego {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/boton.png");
    width: 96px;
    height: 96px;

    -webkit-animation: playboton .8s steps(10) infinite;
    -moz-animation: playboton .8s steps(10) infinite;
    -ms-animation: playboton .8s steps(10) infinite;
    -o-animation: playboton .8s steps(10) infinite;
    animation: playboton .8s steps(10) infinite;
}

@-webkit-keyframes playboton {
    from {
        background-position: 0;
    }
    to {
        background-position: -960px;
    }
}

@-moz-keyframes playboton {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@-ms-keyframes playboton {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@-o-keyframes playboton {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@keyframes playboton {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

/*boton juego click sprite */
.boton-juego-click {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/boton_push.png");
    width: 96px;
    height: 96px;

    -webkit-animation: play .8s steps(10);
    -moz-animation: play .8s steps(10);
    -ms-animation: play .8s steps(10);
    -o-animation: play .8s steps(10);
    animation: play .8s steps(10);
}

@-webkit-keyframes play {
    from {
        background-position: 0;
    }
    to {
        background-position: -960px;
    }
}

@-moz-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@-ms-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@-o-keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

@keyframes play {
    from {
        background-position: 0px;
    }
    to {
        background-position: -960px;
    }
}

/*fin boton juego click sprite */


/*flecha animada sprite */
.flecha_animada {
    position: absolute;
    bottom: 35%;
    right: 70px;
    cursor: pointer;
    z-index: 10;
}

.flecha_animada {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/flechaindica.png");
    width: 46px;
    height: 50px;
    -webkit-animation: playflecha_animada 0.5s steps(4) infinite;
    -moz-animation: playflecha_animada 0.5s steps(4) infinite;
    -ms-animation: playflecha_animada 0.5s steps(4) infinite;
    -o-animation: playflecha_animada 0.5s steps(4) infinite;
    animation: playflecha_animada 0.5s steps(4) infinite;
}

@-webkit-keyframes playflecha_animada {
    from {
        background-position: 0;
    }
    to {
        background-position: -340px;
    }
}

@-moz-keyframes playflecha_animada {
    from {
        background-position: 0px;
    }
    to {
        background-position: -340px;
    }
}

@-ms-keyframes playflecha_animada {
    from {
        background-position: 0px;
    }
    to {
        background-position: -340px;
    }
}

@-o-keyframes playflecha_animada {
    from {
        background-position: 0px;
    }
    to {
        background-position: -340px;
    }
}

@keyframes playflecha_animada {
    from {
        background-position: 0px;
    }
    to {
        background-position: -340px;
    }
}




/*fin flecha  animada sprite */

/*cereza animada sprite */
.gelatina_cereza {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/gelatina_cereza.png");
    width: 131px;
    height: 96px;
    -webkit-animation: playgelatinacereza 1s steps(17) infinite;
    -moz-animation: playgelatinacereza 1s steps(17) infinite;
    -ms-animation: playgelatinacereza 1s steps(17) infinite;
    -o-animation: playgelatinacereza 1s steps(17) infinite;
    animation: playgelatinacereza 1s steps(17) infinite;
}

@-webkit-keyframes playgelatinacereza {
    from {
        background-position: 0;
    }
    to {
        background-position: -2227px;
    }
}

@-moz-keyframes playgelatinacereza {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-ms-keyframes playgelatinacereza {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-o-keyframes playgelatinacereza {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@keyframes playgelatinacereza {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

/*fin cereza  animada sprite */

/*frambuesa animada sprite */
.gelatina_frambuesa {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/gelatina_frambuesa.png");
    width: 131px;
    height: 96px;
    -webkit-animation: playgelatinaframbuesa 1s steps(17) infinite;
    -moz-animation: playgelatinaframbuesa 1s steps(17) infinite;
    -ms-animation: playgelatinaframbuesa 1s steps(17) infinite;
    -o-animation: playgelatinaframbuesa 1s steps(17) infinite;
    animation: playgelatinaframbuesa 1s steps(17) infinite;
}

@-webkit-keyframes playgelatinaframbuesa {
    from {
        background-position: 0;
    }
    to {
        background-position: -2227px;
    }
}

@-moz-keyframes playgelatinaframbuesa {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-ms-keyframes playgelatinaframbuesa {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-o-keyframes playgelatinaframbuesa {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@keyframes playgelatinaframbuesa {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}
/*fin frambuesa animada sprite */

/*limon animada sprite */
.gelatina_limon {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/gelatina_limon.png");
    width: 131px;
    height: 96px;
    -webkit-animation: playgelatinalimon 1s steps(17) infinite;
    -moz-animation: playgelatinalimon 1s steps(17) infinite;
    -ms-animation: playgelatinalimon 1s steps(17) infinite;
    -o-animation: playgelatinalimon 1s steps(17) infinite;
    animation: playgelatinalimon 1s steps(17) infinite;
}

@-webkit-keyframes playgelatinalimon {
    from {
        background-position: 0;
    }
    to {
        background-position: -2227px;
    }
}

@-moz-keyframes playgelatinalimon {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-ms-keyframes playgelatinalimon {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-o-keyframes playgelatinalimon {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@keyframes playgelatinalimon {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}
/*fin limon animada sprite */

/*naranja animada sprite */
.gelatina_naranja {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/gelatina_naranja.png");
    width: 131px;
    height: 96px;
    -webkit-animation: playgelatinanaranja 1s steps(17) infinite;
    -moz-animation: playgelatinanaranja 1s steps(17) infinite;
    -ms-animation: playgelatinanaranja 1s steps(17) infinite;
    -o-animation: playgelatinanaranja 1s steps(17) infinite;
    animation: playgelatinanaranja 1s steps(17) infinite;
}

@-webkit-keyframes playgelatinanaranja {
    from {
        background-position: 0;
    }
    to {
        background-position: -2227px;
    }
}

@-moz-keyframes playgelatinanaranja {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-ms-keyframes playgelatinanaranja {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-o-keyframes playgelatinanaranja {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@keyframes playgelatinanaranja {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}
/*fin naranja animada sprite */


/*uva animada sprite */
.gelatina_uva {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/gelatina_uva.png");
    width: 131px;
    height: 96px;
    -webkit-animation: playgelatinauva 1s steps(17) infinite;
    -moz-animation: playgelatinauva 1s steps(17) infinite;
    -ms-animation: playgelatinauva 1s steps(17) infinite;
    -o-animation: playgelatinauva 1s steps(17) infinite;
    animation: playgelatinauva 1s steps(17) infinite;
}

@-webkit-keyframes playgelatinauva {
    from {
        background-position: 0;
    }
    to {
        background-position: -2227px;
    }
}

@-moz-keyframes playgelatinauva {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-ms-keyframes playgelatinauva {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@-o-keyframes playgelatinauva {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

@keyframes playgelatinauva {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2227px;
    }
}

/*fin uva animada sprite */

.cien {
    width: 100%;
}

.espacio74 {
    /* width: 89%;*/
    margin-left: 53%;
    width: 28%;
}

.fondo-ingresocodigo {
    padding-top: 2%;
}

.fondo-home {
    background-image: url("../../imagenes/royal_ruleta/snoopy-juego/background-only.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}



.fondo-instrucciones {
    /*background-image: url("../../imagenes/karaokegalaxya/intrucciones/fondo_intrucciones.png");
    background-repeat: no-repeat;
    background-position: center center;*/
}

.fondo-ingresocodigo {
    /*background-image: url("../../imagenes/karaokegalaxya/web-cam/fondo_webcam.jpg");
    background-repeat: no-repeat;
    background-position: center center;*/
}

.fondo-galeria {
    /*background-image: url("../../imagenes/karaokegalaxya/galeria/fondo_galeria.jpg");
    background-repeat: no-repeat;
    background-position: center center;*/
}

.fondo-registro {
    background-image: url("../../imagenes/royal_ruleta/snoopy-registro/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.fondo-registro2 {
    background-image: url("../../imagenes/royal_ruleta/snoopy-registro/background2.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-samsung-galaxya {
    margin-left: 20px;
    margin-top: 30px;
}

.logo-samsung {
    margin-right: 20px;
    margin-top: 30px;
}

.terminos-condiciones {
    text-align: center;
    font-size: 12px;
    position: absolute;
    width: 100%;
    bottom: 15px;
}

.btn-home-instrucciones, .btn-home-subir-video, .btn-home-galeria, .btn-home-home {
    cursor: pointer;
    font-size: 13px;
}

.icono-galeria {
    /*background-image: url("../../imagenes/karaokegalaxya/galeria.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 20px 8px;*/
}

.icono-instrucciones {
    /*background-image: url("../../imagenes/karaokegalaxya/intrucciones.png");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 20px 8px;*/
}

.icono-subir-video {
    /*background-image: url("../../imagenes/karaokegalaxya/subir_video.png");
    background-repeat: no-repeat;
    background-size: 24px 20px;
    background-position: 8px 12px;*/

}

.titulares-registro img, .logo-karaoke-galeria img, .btn-home-instrucciones img, .btn-home-subir-video img, .btn-home-galeria img, .btn-home-home img {
    margin: 0 auto;
}

.titulares-registro {
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo-karaoke-galeria {
    padding-bottom: 0px;
}

p.texto-home {
    font-size: 22px;
    padding-top: 60px;
}

.titulo-der {
    font-size: 24px;
}

.titulo p {
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.texto20 {
    font-size: 20px;

}

.conten-instrucciones {
    margin: 30px 5%;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagen-galeria {
    margin: 0 auto 20px;
}

#galeria-imagenes {
    margin: 10px 0;
    display: inline-block;
}

#webcam-container, #mediaplayer-container {
    width: 495px;
}

#recordStartButton {

}

p.texto-interno, .texto-interno {
    font-size: 22px;
}

input[type="text"], input[type="email"] {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: none;
    color: #ffffff;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
    padding: 3px 0px 3px 3px;
    margin: 10px 1px 3px 0px;
    text-align: center;
    width: 100%;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 1);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 1);

}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 1);
}

ul.login_wid li {
    list-style-type: none;
}

ul.login_wid {
    margin: 0;
    padding: 0;
}

/*input.btn-ingreso {
    background: url("../../imagenes/karaokegalaxya/registro/boton_continuar.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    width: 150px;
    height: 41px;
    border: none;
    margin-top: 20px;
}*/

.margen100 {
    padding: 100px 0 0 0;
    margin: 0;
}

.carga-archivo {
    border-radius: 6px;
    font-size: 14px;
    height: 30px;
    line-height: 15px;
    padding: 0;
}

.margen-0 {
    padding: 0;
    margin: 0;
}

.modal-content {
    background-color: rgba(1, 169, 206, 0.71)
}

.close {
    color: #fff;
    opacity: 1;
}

.modal-header {
    border-bottom: medium none;
    min-height: 13.43px;
    padding: 7px;
}

.carousel-control {
    width: 5%;
    opacity: .9;
}

.fondo-video {
    background-color: #000000;
    border-radius: 20px;
    height: 39px;
    line-height: 39px;
    padding: 0 0 0 15px;
    width: 215px;

}

.boton-buscar-video {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.div-buscar-video input[type="text"] {
    margin: 0;
    padding: 0;
    text-align: left;
}

.btn_compartir, .btn_votar {
    cursor: pointer;
}

.botontexto, .botontextorojo, .botontextoazul, .btn-primary {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: none;
    color: #3f3f3f;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
    padding: 3px 0px 3px 3px;
    margin: 10px 1px 3px 0px;
    text-align: center;
    width: 100%;
}

.botontexto:focus, .botontextorojo:focus, .botontextoazul:focus, .btn-primary:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
}

.btn:focus, .btn:hover {
    color: #ffff00;
    background-color: rgba(255, 0, 0, 0.8);
}

.btn-primary {
    line-height: 30px;
}

.botontextoazul {
    background-color: rgba(255, 0, 0, 0.8);
}

.botontextorojo {
    background-color: rgba(255, 0, 0, 0.8);
}

.botontexto:hover, .botontextoazul:hover, .botontextorojo:hover {
    color: #3e3e3e;
}

.portabotones {
    /*display: inline-block;*/
    display: table;
}

#uploadFile {
    display: inline-block;
    margin: 25px 0;
    position: inherit;
}

.videoSubido {
    padding-top: 0px;

}

#videoSubido {
    margin: 0 -10px;
}

#loadergif {
    position: fixed;
    background-color: rgba(220, 214, 213, 0.6);
    width: inherit;
    height: 360px;
    padding-top: 100px;
    width: 480px;
    margin: 0 auto;
    border-radius: 9px;
}

.ingresolote-container-pop {
    background-color: rgba(1, 169, 206, 0.71);
    padding: 100px 0 150px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.center-img {
    display: table;
    margin: 0 auto;
}

#nobrearchivosubir {
    color: #000000;
}

.margen10top {
    margin-top: 20px;
}

.itemgale {
    height: 174px;
}

.carousel-control {
    width: 15px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: -5px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -10px;
    right: -5px;
}

@media (max-width: 767px) {

    .itemgale {
        height: 120px;
    }

    .titulo {
        font-size: 20px;
    }

    .texto20 {
        font-size: 16px;
    }

    .conten-instrucciones {
        background-color: rgba(0, 0, 0, 0.4);
        margin: 5px 0;
        padding: 20px;
    }

    .btn-home-instrucciones, .btn-home-subir-video, .btn-home-galeria, .btn-home-home {
        margin-top: 10px;
    }

    .logo-samsung img, .logo-samsung-galaxya img {
        margin: 0 auto;
    }

    .logo-samsung-galaxya, .logo-samsung {
        margin: 50px 0 0;
    }

    .fondo-home, .fondo-home2, .fondo-instrucciones, .fondo-ingresocodigo, .fondo-galeria, .fondo-registro {
        position: inherit;
    }

    .terminos-condiciones {
        text-align: center;
        position: inherit;
        bottom: 0;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .titulares-registro {
        padding-bottom: 10px;
        padding: 0px 20px 10px;
    }

    p.texto-home {
        font-size: 18px;
        padding-top: 30px;
    }

    .botontexto, .botontextorojo, .botontextoazul, .btn-primary {
        width: 90%;
    }

    .ingresolote-container-pop {
        padding: 40px 0;
        float: inherit !important;
    }

    .margen100 {
        padding: 10px 0 0 0;
    }

    p.texto-interno, .texto-interno {
        font-size: 20px;
    }

    .icono-instrucciones, .icono-subir-video, .icono-galeria {
        background-size: 15px 15px;
        background-position: 12px 14px;
        font-size: 12px;
    }

    .icono-subir-video {
        background-position: 5px 14px;
    }
}

@media (min-width: 768px) {
    .vertical-center {

        min-height: 100%; /* Fallback for browsers do NOT support vh unit */
        min-height: 85vh; /* These two lines are counted as one :-)       */

        display: flex;
        align-items: center;

        margin: 0 auto;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: -webkit-box;
    }

    .center-block {

        display: flex;
        align-items: center;

        margin: 0 auto;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: -webkit-box;
    }

    .margen100 {
        padding: 10px 0 0 0;
    }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 992px) {
    .margen-0-md {
        margin: 0;
        padding: 0;
    }
}
